$font-light: 300;
$font-reg: 400;
$font-bold: 700;
$font-dark: 900;

$font-family-header: 'Lato', sans-serif;
$font-family-body: 'Lato', sans-serif;

$font-size-lg: 1.25em;
$font-size-reg: 0.75em;

$color-primary: #26A8C6;
$color-secondary: #C8F5FF;
$color-base: #FFF;
